body{
    background: linear-gradient(to right, #00f260, #0575e6);
    padding:15px;
    border-radius: 40px;
}
button{
    background: linear-gradient(to right, #f12711, #f5af19);
color:white
}
canvas{
    border-style:dashed;
    border-color:black;
    border-radius:40px;
    border-width:5px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count:infinite;
    
}
@keyframes example{
    from {box-shadow: 15px 15px 20px rgb(255, 0, 0);}
    to {box-shadow: 15px 15px   20px rgb(60, 255, 0);}
}